
.navigation ul{
  display: inline;
  list-style: none;
}

li{
  display: inline;
  margin: auto;
  padding: 10px;
}

li a{
  text-decoration: none;
}

.employee-section{
  padding: 20px;
}

form input{
  margin-bottom: 20px;
}

.price-plan{
  display: inline-block;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}
